<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ folder }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{ folder }}</ion-title>
    </ion-toolbar>
  </ion-header>


  <div >
    <!-- List of Text Items -->
    <ion-list>
      <ion-item lines="full" *ngFor="let file of (availableAudioFiles|async);let i = index">

        <ion-button slot="start" shape="round" [disabled]="!file.localRef || file.isDownloading" (click)="onPlayAudioFileClicked(file,i)">
          <ion-icon slot="icon-only"  name="{{(file.audioIntStatus|async)===2?'pause':'play'}}"></ion-icon>
        </ion-button>
        <ion-label>
          <h2 >{{file.remoteRef.name}}</h2>
          <p class="ion-text-wrap"><em>{{showFileLabel(file)}}</em></p>
          <p>{{(file.audioIntStatus|async)+''}}</p>
        </ion-label>
        <ion-button  slot="end" [disabled]="file.localRef" (click)="onDownloadAudioFileClicked(file)" *ngIf="!file.isDownloading">
          <ion-icon slot="icon-only" name="cloud-download"></ion-icon>
        </ion-button>
        <ion-button  slot="end"  (click)="onShare(file)">
          <ion-icon slot="icon-only" name="share"></ion-icon>
        </ion-button>
        <ion-spinner *ngIf="file.isDownloading"  name="crescent"></ion-spinner>
      </ion-item>
    </ion-list>
  </div>
  <ion-modal trigger="open-modal"  #modal>
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-buttons slot="start">
            <ion-button (click)="modal.dismiss(null,'cancel')">Cancel</ion-button>
          </ion-buttons>
          <ion-title>Welcome</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="modal.dismiss({label:modalLabelInput.value,name:modalLabelInput.value},'confirm')" [strong]="true">Confirm</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        <ion-item>
          <ion-label position="stacked">Enter label</ion-label>
          <ion-input type="text" placeholder="File label" #modalLabelInput></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">Enter file name</ion-label>
          <ion-input type="text" placeholder="File name will not change if empty" #modalNameInput></ion-input>
        </ion-item>
      </ion-content>
    </ng-template>
  </ion-modal>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed" (click)="fileUpload.click()" (mousedown)="test()">
    <ion-fab-button>
      <input id="input"  type="file"  accept="audio/*" style="display: none" #uploadButtonInput
             (change)="onFileSelected($event)" #fileUpload>
      <ion-icon name="{{uploadInProgress?'loading':'add'}}"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
