<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ folder }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{ folder }}</ion-title>
    </ion-toolbar>
  </ion-header>

  <div >
    <!-- List of Text Items -->
    <ion-list>
      <ion-item lines="full" *ngFor="let file of (availableAudioFiles|async);let i = index">

        <ion-button slot="start" shape="round" [disabled]="!file.localRef || file.isDownloading" (click)="onPlayAudioFileClicked(file,i)">
          <ion-icon slot="icon-only"  name="{{(file.audioIntStatus|async)===2?'pause':'play'}}"></ion-icon>
        </ion-button>
        <ion-label>
          <h2 >{{file.remoteRef.name}}</h2>
          <p class="ion-text-wrap"><em>"Y me mandas el sticker, eres subnormal?"</em></p>
          <p>{{(file.audioIntStatus|async)+''}}</p>
        </ion-label>
        <ion-button  slot="end" [disabled]="file.localRef" (click)="onDownloadAudioFileClicked(file)" *ngIf="!file.isDownloading">
          <ion-icon slot="icon-only" name="cloud-download"></ion-icon>
        </ion-button>
        <ion-button  slot="end"  (click)="onShare(file)">
          <ion-icon slot="icon-only" name="share"></ion-icon>
        </ion-button>
        <ion-spinner *ngIf="file.isDownloading"  name="crescent"></ion-spinner>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
