<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ folder }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{ folder }}</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <strong class="capitalize">{{ folder }}</strong>
    <p>Explore <a target="_blank" rel="noopener noreferrer" href="https://ionicframework.com/docs/components">UI Components test</a></p>
    <!-- List of Text Items -->
    <ion-list>
      <ion-item lines="full" *ngFor="let file of (availableAudioFiles|async)">

        <ion-button slot="start" [disabled]="!file.localRef">
          <ion-icon slot="icon-only" name="play"></ion-icon>
        </ion-button>
        <ion-label>{{file.remoteRef.name}}</ion-label>
        <ion-button slot="end" [disabled]="file.localRef" (click)="">
          <ion-icon slot="icon-only" name="cloud-download"></ion-icon>
        </ion-button>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
